[Desktop Entry]
Type=Service
Icon=view-restore
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/jpeg;
Actions=jpegoptim75;
Encoding=UTF-8

[Desktop Action jpegoptim75]
Name=Skompresuj plik JPEG do 75%
Icon=view-restore
Exec=jpegoptim -m75 %F
