[Desktop Entry]
Type=Service
Icon=view-restore
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/png;
Actions=optipng
Terminal=true
Encoding=UTF-8

[Desktop Action optipng]
Name=Compress PNG file
Name[pl]=Skompresuj plik PNG
Icon=view-restore
Exec=optipng -p %F
